{% extends 'base.html' %}

{% block header %}
  <!-- <h1>{% block title %}Appointments{% endblock %}</h1> -->
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-7">
        <div class="card rounded-pill mt-5" style="background-color: lightskyblue;">
            <h2 class="text-center p-5">View History</h2>
        </div>
    </div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
        {% if data['history'] %}
        <div class="shadow bg-body card-body mt-lg-5">
            <!-- appointments -->
            <div class="table-responsive app p-4">
                <table class="table table-hover">
                    <tr>
                        <th>Disease</th>
                        <th>Detected</th> 
                    </tr>
                    {% for hist in data['history'] %}
                        <tr>
                            <td>{{ hist['name'] }}</td>
                            <td><span class="badge bg-primary rounded-pill">{{ hist['detected'] }}</span></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% else %}
        <div class="shadow bg-body card-body mt-lg-5 p-5 text-center">
            <strong>No history available.</strong>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}