{% extends 'base.html' %}

{% block header %}
  <!-- <h1>{% block title %}Profile{% endblock %}</h1> -->
{% endblock %}

{% block content %}
<div class="row mt-5 justify-content-center">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          Alloting beds
        </div>
        <div class="card-body">
          <form method="post">
            <div class="mb-3 row">
              <label for="name" class="col-sm-5 col-form-label">Patient id</label>
              <div class="col-sm-7">
                <input type="text" class="form-control bg-light" name="patient_id" id="patient_id" value="" required>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="username" class="col-sm-5 col-form-label">Room type</label>
              <div class="col-sm-7">
                <input type="text" class="form-control bg-light" name="room_type" id="room_type" value="" required>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="contact" class="col-sm-5 col-form-label">Bed type</label>
              <div class="col-sm-7">
                <input type="text" class="form-control bg-light" name="bed_type" id="bed_type" value="" required>
              </div>
            </div>

            <input type="submit" class="btn btn-outline-secondary mt-5" value="Submit">
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}