{% extends 'base.html' %}

{% block header %}
  <!-- <h1>{% block title %}Appointments{% endblock %}</h1> -->
{% endblock %}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="exampleModalLabel">Confirm cancellation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('cancel_appointment') }}">
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Doctor</span>
              <input type="text" readonly class="form-control bg-light" id="doctor_name" name="doctor_name">
            </div>
            <input type="hidden" class="form-control" id="app_id" name="app_id">
            <input type="hidden" class="form-control" id="patient_id" name="patient_id">
            <div class="input-group">
              <span class="input-group-text">Date</span>
              <input type="date" readonly class="form-control bg-light" id="date" name="date">
              <span class="input-group-text">Time</span>
              <input type="text" readonly class="form-control bg-light" id="time" name="time">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Appo Type</span>
              <input type="text" readonly class="form-control bg-light" id="type" name="type" value="OPD">
            </div>
            <label for="complaint" class="col-form-label">Complaint:</label>
            <textarea readonly class="form-control bg-light" id="complaint" name="complaint"></textarea>
          </div>
          <button class="btn btn-outline-danger" type="submit">Confirm</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white" id="viewModalLabel">View Appo Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Doctor</span>
              <input type="text" readonly class="form-control bg-light" id="doctor_name" name="doctor_name">
            </div>
            <input type="hidden" class="form-control" id="app_id" name="app_id">
            <input type="hidden" class="form-control" id="patient_id" name="patient_id">
            <div class="input-group">
              <span class="input-group-text">Date</span>
              <input type="date" readonly class="form-control bg-light" id="date" name="date">
              <span class="input-group-text">Time</span>
              <input type="text" readonly class="form-control bg-light" id="time" name="time">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Appo Type</span>
              <input type="text" readonly class="form-control bg-light" id="type" name="type" value="OPD">
            </div>
            <label for="complaint" class="col-form-label">Complaint:</label>
            <textarea readonly class="form-control bg-light" id="complaint" name="complaint"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" id="editModalLabel">Update complaint</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('update_complaint') }}">
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Doctor</span>
              <input type="text" readonly class="form-control bg-light" id="doctor_name" name="doctor_name">
            </div>
            <input type="hidden" class="form-control" id="app_id" name="app_id">
            <input type="hidden" class="form-control" id="patient_id" name="patient_id">
            <div class="input-group">
              <span class="input-group-text">Date</span>
              <input type="date" readonly class="form-control bg-light" id="date" name="date">
              <span class="input-group-text">Time</span>
              <input type="text" readonly class="form-control bg-light" id="time" name="time">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Appo Type</span>
              <input type="text" readonly class="form-control bg-light" id="type" name="type" value="OPD">
            </div>
            <label for="complaint" class="col-form-label">Complaint:</label>
            <textarea class="form-control bg-light" id="complaint" name="complaint"></textarea>
          </div>
          <button class="btn btn-outline-success" type="submit">Update</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-7">
      <div class="card rounded-pill mt-5" style="background-color: lightskyblue;">
          <h2 class="text-center p-5">Appointments</h2>
      </div>
  </div>
</div>
<div class="row mt-5 justify-content-center">
  <div class="col-lg-8 col-md-10">
    <div class="shadow bg-body rounded-3 card mt-5">
        <div class="card-header">
            Upcoming Appointments
        </div>
        <div class="card-body">
            <div class="row mt-2">
                <!-- appointments -->
                <div class="table-responsive app p-4">
                    <table class="table table-hover">
                        <tr>
                            <th>Doctor</th>
                            <th>Date</th> 
                            <th class="d-none d-md-table-cell">Time</th>
                            <th class="d-none d-md-table-cell">Complaint</th>
                            <th style="white-space: nowrap; width: 1%;"><span class="float-end">Actions</span></th>
                        </tr>
                        {% for appo in data['upcoming_appos'] %}
                            {% set doc_name = appo['name'] %}
                            {% set app_id = appo['app_id'] %}
                            {% set patient_id = appo['patient_id'] %}
                            {% set date = appo['dat'] %}
                            {% set time = appo['start_time'] %}
                            {% set app_type = appo['type'] %}
                            {% set complaint = appo['complaint'] %}
                            <tr>
                                <td>{{ appo['name'] }}</td>
                                <td><span class="badge bg-danger rounded-pill">{{ appo['dat'] }}</span></td>
                                <td class="d-none d-md-table-cell"><span class="badge bg-primary rounded-pill">{{ appo['start_time'] }}</span></td>
                                {% if appo['complaint'] %}
                                    <td class="d-none d-md-table-cell">{{ appo['complaint'] }}</td>
                                {% else %}
                                    <td class="d-none d-md-table-cell"> None </td>
                                {% endif %}
                                <td style="white-space: nowrap; width: 1%;">
                                    <div class="btn-group btn-group-sm float-end" role="group" aria-label="actions">
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewModal" data-bs-name="{{ doc_name }}" data-bs-appid="{{ app_id }}" data-bs-patientid="{{ patient_id }}" data-bs-date="{{ date }}" data-bs-time="{{ time }}" data-bs-type="{{ app_type }}" data-bs-complaint="{{ complaint }}"><i class="bi bi-eye"></i></button>
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-name="{{ doc_name }}" data-bs-appid="{{ app_id }}" data-bs-patientid="{{ patient_id }}" data-bs-date="{{ date }}" data-bs-time="{{ time }}" data-bs-type="{{ app_type }}" data-bs-complaint="{{ complaint }}"><i class="bi bi-pen"></i></button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="{{ doc_name }}" data-bs-appid="{{ app_id }}" data-bs-patientid="{{ patient_id }}" data-bs-date="{{ date }}" data-bs-time="{{ time }}" data-bs-type="{{ app_type }}" data-bs-complaint="{{ complaint }}"><i class="bi bi-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row mt-lg-5 justify-content-center">
  <div class="col-lg-8 col-md-10">
    <div class="shadow bg-body rounded-3 card mt-5">
      <div class="card-header">
          Past Appointments
      </div>
      <div class="card-body">
          <div class="row mt-2">
              <!-- appointments -->
              <div class="table-responsive app p-4">
                  <table class="table table-hover">
                      <tr>
                          <th>Doctor</th>
                          <th>Date</th> 
                          <th class="d-none d-md-table-cell">Time</th>
                          <th class="d-none d-md-table-cell">Complaint</th>
                          <th style="white-space: nowrap; width: 1%;"><span class="float-end">Actions</span></th>
                      </tr>
                      {% for appo in data['past_appos'] %}
                          {% set doc_name = appo['name'] %}
                          {% set app_id = appo['app_id'] %}
                          {% set patient_id = appo['patient_id'] %}
                          {% set date = appo['dat'] %}
                          {% set time = appo['start_time'] %}
                          {% set app_type = appo['type'] %}
                          {% set complaint = appo['complaint'] %}
                          {% set doc_id = appo['doc_id'] %}
                          <tr>
                              <td>{{ appo['name'] }}</td>
                              <td><span class="badge bg-danger rounded-pill">{{ appo['dat'] }}</span></td>
                              <td class="d-none d-md-table-cell"><span class="badge bg-primary rounded-pill">{{ appo['start_time'] }}</span></td>
                              {% if appo['complaint'] %}
                                  <td class="d-none d-md-table-cell">{{ appo['complaint'] }}</td>
                              {% else %}
                                  <td class="d-none d-md-table-cell"> None </td>
                              {% endif %}
                              <td style="white-space: nowrap; width: 1%;">
                                <form method="get" action="{{ url_for('available_slots_followup') }}">
                                  <input type="hidden" name="doc_id" value="{{ doc_id }}">
                                  <input type="hidden" name="patient_id" value="{{ patient_id }}">
                                  <div class="btn-group btn-group-sm float-end" role="group" aria-label="actions">
                                      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewModal" data-bs-name="{{ doc_name }}" data-bs-appid="{{ app_id }}" data-bs-patientid="{{ patient_id }}" data-bs-date="{{ date }}" data-bs-time="{{ time }}" data-bs-type="{{ app_type }}" data-bs-complaint="{{ complaint }}"><i class="bi bi-eye"></i></button>
                                      <button type="submit" class="btn btn-warning"><i class="bi bi-arrow-right-square"></i></button>
                                  </div>
                                </form>
                              </td>
                          </tr>
                      {% endfor %}
                  </table>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var exampleModal = document.getElementById('exampleModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var doc_name = button.getAttribute('data-bs-name')
    var app_id = button.getAttribute('data-bs-appid')
    var patient_id = button.getAttribute('data-bs-patientid')
    var doc_speciality = button.getAttribute('data-bs-speciality')
    var time = button.getAttribute('data-bs-time')
    var date = button.getAttribute('data-bs-date')
    var appo_type = button.getAttribute('data-bs-type')
    var complaint = button.getAttribute('data-bs-complaint')

    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modal_body_doc_name = exampleModal.querySelector('#doctor_name')
    var modal_body_app_id = exampleModal.querySelector('#app_id')
    var modal_body_patient_id = exampleModal.querySelector('#patient_id')
    var modal_body_time = exampleModal.querySelector('#time')
    var modal_body_date = exampleModal.querySelector('#date')
    var modal_body_type = exampleModal.querySelector('#type')
    var modal_body_complaint = exampleModal.querySelector('#complaint')

    modal_body_doc_name.value = doc_name
    modal_body_app_id.value = app_id
    modal_body_patient_id.value = patient_id
    modal_body_date.value = date
    modal_body_time.value = time
    modal_body_type.value = appo_type
    modal_body_complaint.innerHTML = complaint

  })
  var viewModal = document.getElementById('viewModal')
  viewModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var doc_name = button.getAttribute('data-bs-name')
    var app_id = button.getAttribute('data-bs-appid')
    var patient_id = button.getAttribute('data-bs-patientid')
    var doc_speciality = button.getAttribute('data-bs-speciality')
    var time = button.getAttribute('data-bs-time')
    var date = button.getAttribute('data-bs-date')
    var appo_type = button.getAttribute('data-bs-type')
    var complaint = button.getAttribute('data-bs-complaint')

    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = viewModal.querySelector('.modal-title')
    var modal_body_doc_name = viewModal.querySelector('#doctor_name')
    var modal_body_app_id = viewModal.querySelector('#app_id')
    var modal_body_patient_id = viewModal.querySelector('#patient_id')
    var modal_body_time = viewModal.querySelector('#time')
    var modal_body_date = viewModal.querySelector('#date')
    var modal_body_type = viewModal.querySelector('#type')
    var modal_body_complaint = viewModal.querySelector('#complaint')

    modal_body_doc_name.value = doc_name
    modal_body_app_id.value = app_id
    modal_body_patient_id.value = patient_id
    modal_body_date.value = date
    modal_body_time.value = time
    modal_body_type.value = appo_type
    modal_body_complaint.innerHTML = complaint

  })
  var editModal = document.getElementById('editModal')
  editModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var doc_name = button.getAttribute('data-bs-name')
    var app_id = button.getAttribute('data-bs-appid')
    var patient_id = button.getAttribute('data-bs-patientid')
    var doc_speciality = button.getAttribute('data-bs-speciality')
    var time = button.getAttribute('data-bs-time')
    var date = button.getAttribute('data-bs-date')
    var appo_type = button.getAttribute('data-bs-type')
    var complaint = button.getAttribute('data-bs-complaint')

    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = editModal.querySelector('.modal-title')
    var modal_body_doc_name = editModal.querySelector('#doctor_name')
    var modal_body_app_id = editModal.querySelector('#app_id')
    var modal_body_patient_id = editModal.querySelector('#patient_id')
    var modal_body_time = editModal.querySelector('#time')
    var modal_body_date = editModal.querySelector('#date')
    var modal_body_type = editModal.querySelector('#type')
    var modal_body_complaint = editModal.querySelector('#complaint')

    modal_body_doc_name.value = doc_name
    modal_body_app_id.value = app_id
    modal_body_patient_id.value = patient_id
    modal_body_date.value = date
    modal_body_time.value = time
    modal_body_type.value = appo_type
    modal_body_complaint.innerHTML = complaint

  })
</script>
{% endblock %}
