{% extends 'base.html' %}

{% block header %}
  <!-- <h1>{% block title %}View available slots{% endblock %}</h1> -->
{% endblock %}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm booking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{{ url_for('book_appointment') }}">
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Doctor</span>
              <input type="text" readonly class="form-control bg-light" id="doctor_name" name="doctor_name">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Speciality</span>
              <input type="text" readonly class="form-control bg-light" id="doctor_speciality" name="doctor_speciality">
            </div>
            <input type="hidden" class="form-control" id="doctor_id" name="doctor_id">
            <div class="input-group">
              <span class="input-group-text">Date</span>
              <input type="date" readonly class="form-control bg-light" id="date" name="date">
              <span class="input-group-text">Time</span>
              <input type="text" readonly class="form-control bg-light" id="time" name="time">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text">Appo Type</span>
              <input class="form-control" id="type" name="type" value="OPD">
            </div>
            <label for="complaint" class="col-form-label">Complaint:</label>
            <textarea class="form-control" id="complaint" name="complaint"></textarea>
          </div>
          <button class="btn btn-outline-secondary" type="submit">Confirm</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="card mt-5">
  <div class="card-header p-3 bg-light">
      <h3> View available slots </h3>
  </div>
  <div class="card-body">
      <div class="row mt-3 mb-2">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="input-group">
              <input class="form-control" type="text" id="search_input" onkeyup="search()" placeholder="Search for doctors.." title="Type in a name">
              <button type="button" class="btn btn-outline-secondary disabled"><i class="bi bi-search"></i></button>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mt-3 mt-sm-0">
            <form class="input-group" method="post" action="{{ url_for('update_date_free_slots') }}">
              <input class="form-select" type="date" name="date" id="date" value="{{ data['today'] }}" required>
              <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
        </div>
        <div class="mt-5" id="all_doc_slots">
          {% for doc_slot in data['slots'] %}
            <div class="card" id="doc_slots">
              <div class="row g-0">
                <div class="col-lg-2 col-md-4 bg-light">
                  <div class="card-body">
                    <h5 id="name">{{ doc_slot['name'] }}</h5>
                    <h5 id="speciality">{{ doc_slot['speciality'] }}</h5>
                  </div>
                </div>
                <div class="col-lg-10 col-md-8">
                  <div class="card-body">
                    <div class="row row-cols-auto g-0">
                      {% for start_time in doc_slot['start_time'] %}
                        {% set doc_name = doc_slot['name'] %}
                        {% set doc_id = doc_slot['id'] %}
                        {% set doc_speciality = doc_slot['speciality'] %}
                        {% set date = doc_slot['date'] %}
                        <div class="col">
                          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-name="{{ doc_name }}" data-bs-id="{{ doc_id }}" data-bs-speciality="{{ doc_speciality }}" data-bs-date="{{ date }}" data-bs-time="{{ start_time }}">{{ start_time }}</button>
                          <!-- <button class="btn btn-outline-secondary" onclick="expandForm('{{ doc_name }}', '{{ doc_id }}', '{{ date }}', '{{ start_time }}')" id="time" name="time" value="{{ start_time }}">{{ start_time }}</button>           -->
                          <!-- <form>  action="" method="post"> 
                            <input class="form-control" type="hidden" id="doctor_name" name="doctor_name" value="{{ doc_slot['name'] }}">
                            <input class="form-control" type="hidden" id="doctor_id" name="doctor_id" value="{{ doc_slot['id'] }}">
                            <input class="form-control" type="hidden" id="date" name="date" value="{{ doc_slot['date'] }}">
                            <input class="form-control" type="hidden" id="type" name="type" value="OPD">
                            <input class="form-control" type="hidden" id="complaint" name="complaint" value="">
                            {% set doc_name = doc_slot['name'] %}
                            {% set doc_id = doc_slot['id'] %}
                            {% set date = doc_slot['date'] %}
                            <button class="btn btn-outline-secondary" onclick="expandForm('{{ doc_name }}', '{{ doc_id }}', '{{ date }}', '{{ start_time }}')" id="time" name="time" value="{{ start_time }}">{{ start_time }}</button>
                          </form> -->
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>
</div>
<script>
  function search() {
      var input, filter, all_doc_slots, doc_slots, doc_name, doc_speciality, name_txt, speciality_txt, i;
      input = document.getElementById("search_input");
      filter = input.value.toUpperCase();
      all_doc_slots = document.getElementById("all_doc_slots");
      doc_slots = all_doc_slots.getElementsByClassName("card");

      for (i = 0; i < doc_slots.length; i++) {
          doc_name = doc_slots[i].getElementsByTagName("h5")[0];
          doc_speciality = doc_slots[i].getElementsByTagName("h5")[1];
          name_txt = doc_name.textContent || doc_name.innerText;
          speciality_txt = doc_speciality.textContent || doc_speciality.innerText;
          if (name_txt.toUpperCase().indexOf(filter) > -1) {
            console.log("Matched name ...", name_txt)
            doc_slots[i].style.display = "";
          } else if(speciality_txt.toUpperCase().indexOf(filter) > -1) {
            console.log("Matched speciality ...", speciality_txt)
            doc_slots[i].style.display = "";
          } else {
            doc_slots[i].style.display = "none";
          }
      }
  }

  var exampleModal = document.getElementById('exampleModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    var doc_name = button.getAttribute('data-bs-name')
    var doc_id = button.getAttribute('data-bs-id')
    var doc_speciality = button.getAttribute('data-bs-speciality')
    var time = button.getAttribute('data-bs-time')
    var date = button.getAttribute('data-bs-date')

    // If necessary, you could initiate an AJAX request here
    // and then do the updating in a callback.
    //
    // Update the modal's content.
    var modalTitle = exampleModal.querySelector('.modal-title')
    var modal_body_doc_name = exampleModal.querySelector('#doctor_name')
    var modal_body_doc_speciality = exampleModal.querySelector('#doctor_speciality')
    var modal_body_doc_id = exampleModal.querySelector('#doctor_id')
    var modal_body_time = exampleModal.querySelector('#time')
    var modal_body_date = exampleModal.querySelector('#date')

    modal_body_doc_name.value = doc_name
    modal_body_doc_speciality.value = doc_speciality
    modal_body_doc_id.value = doc_id
    modal_body_date.value = date
    modal_body_time.value = time
  })
  </script>
{% endblock %}
