{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Book appointment{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="doctor_id">Doctor id</label>
    <input name="doctor_id" id="doctor_id" required>
    <label for="date">Date</label>
    <input name="date" id="date" required>
    <label for="time">Time</label>
    <input name="time" id="time" required>
    <label for="type">Type</label>
    <input name="type" id="type" required>
    <label for="complaint">Complaint</label>
    <input name="complaint" id="complaint">
    <label for="followup">Follow up?</label>
    <input name="followup" id="followup">
    <label for="patient_id">Patient Id</label>
    <input name="patient_id" id="patient_id">
    <label for="parent_app_id">Parent Appo Id</label>
    <input name="parent_app_id" id="parent_app_id">
    <input type="submit" value="Book">
  </form>
{% endblock %}
