{% extends 'base.html' %}

{% block header %}
  <!-- <h1>{% block title %}View available slots{% endblock %}</h1> -->
{% endblock %}

{% block content %}

<div class="modal fade" id="DocModal" tabindex="-1" aria-labelledby="DocModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DocModalLabel">Confirm Changes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ url_for('add_doctor') }}">
            <div class="mb-3">
              <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" readonly class="form-control bg-light" id="doctor_name" name="doctor_name">
              </div>
              <input type="hidden" class="form-control" id="id" name="id">
              <div class="input-group">
                <div class="input-group mb-3">
                <span class="input-group-text">Speciality</span>
                <input type="text" class="form-control bg-light" id="speciality" name="speciality">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Salary</span>
                <input type="number" class="form-control bg-light" id="salary" name="salary">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Permanent</span>
                <input type="number" class="form-control bg-light" id="permanent" name="permanent">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Experience</span>
                <input type="number" class="form-control bg-light" id="experience" name="experience">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Opd Charges</span>
                <input type="number" class="form-control bg-light" id="opd_charges" name="opd_charges">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">OT Charges</span>
                <input type="number" class="form-control bg-light" id="ot_charges" name="ot_charges">
                </div>
              </div>

            </div>
            <button class="btn btn-outline-secondary" type="submit">Confirm</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="StaffModal" tabindex="-1" aria-labelledby="StaffModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="StaffModalLabel">Confirm Changes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ url_for('add_staff') }}">
            <div class="mb-3">
              <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" readonly class="form-control bg-light" id="staff_name" name="staff_name">
              </div>
              <input type="hidden" class="form-control" id="id" name="id">
              <div class="input-group">
                <div class="input-group mb-3">
                <span class="input-group-text">Role</span>
                <input type="text" class="form-control bg-light" id="role" name="role">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Experience</span>
                <input type="number" class="form-control bg-light" id="experience" name="experience">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Salary</span>
                <input type="number" class="form-control bg-light" id="salary" name="salary">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Start Hr</span>
                <input type="number" class="form-control bg-light" id="start_hr" name="start_hr">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">End Hr</span>
                <input type="number" class="form-control bg-light" id="end_hr" name="end_hr">
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text">Days Of Week</span>
                <input type="number" class="form-control bg-light" id="days_of_week" name="days_of_week">
                </div>
              </div>

            </div>
            <button class="btn btn-outline-secondary" type="submit">Confirm</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4 me-lg-5">
        <div class="card">
            <div class="card-header">
                Add Doctor
            </div>
            <div class="card-body">
              <div class="row">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <div class="input-group">
                      <input class="form-control" type="text" id="search_doc" onkeyup="search('search_doc','all_persons')" placeholder="Search for persons.." title="Type in a name">
                      <button type="button" class="btn btn-outline-secondary disabled"><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                </div>
                <div class="mt-6" id="all_persons">
                  {% for person in data['person'] %}
                    <div class="card" id="persons">
                      <div class="row g-0">
                        <div class="col-lg-12 col-md-4 bg-light rounded-3">
                          <div class="card-body">
                            {% set doc_name = person['name'] %}
                            {% set doc_id = person['id'] %}
                            <h5 id="name">{{ person['name'] }}</h5>
                            <h5>( {{person['id']}} )
                              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#DocModal" data-bs-name="{{ doc_name }}" data-bs-id="{{ doc_id }}" >
                                <i class="bi bi-check"></i>
                              </button>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4 me-lg-5">
        <div class="card">
            <div class="card-header">
                Add Staff
            </div>
            <div class="card-body">
              <div class="row">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <div class="input-group">
                      <input class="form-control" type="text" id="search_staff" onkeyup="search('search_staff','all_staff')" placeholder="Search for persons.." title="Type in a name">
                      <button type="button" class="btn btn-outline-secondary disabled"><i class="bi bi-search"></i></button>
                    </div>
                  </div>
                </div>
                <div class="mt-6" id="all_staff">
                  {% for person in data['person'] %}
                    <div class="card" id="persons">
                      <div class="row g-0">
                        <div class="col-lg-12 col-md-4 bg-light rounded-3">
                          <div class="card-body">
                            {% set doc_name = person['name'] %}
                            {% set doc_id = person['id'] %}
                            <h5 id="name">{{ person['name'] }}</h5>
                            <h5>( {{person['id']}} )
                              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#StaffModal" data-bs-name="{{ doc_name }}" data-bs-id="{{ doc_id }}" >
                                <i class="bi bi-check"></i>
                              </button>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="row mt-md-5 justify-content-center">

</div>
<script>
    function search(inpt,element) {
        var input, filter, all_persons, persons, person_name, name_txt, i;
        input = document.getElementById(inpt);
        filter = input.value.toUpperCase();
        all_persons = document.getElementById(element);
        persons = all_persons.getElementsByClassName("card");
        console.log("searched sth")
  
        for (i = 0; i < persons.length; i++) {
            person_name = persons[i].getElementsByTagName("h5")[0];
            // console.log(doc_name);
            name_txt = person_name.textContent || person_name.innerText;
  
            if (name_txt.toUpperCase().indexOf(filter) > -1) {
              console.log("Matched name ...", name_txt)
              persons[i].style.display = "";
            }
            else {
              persons[i].style.display = "none";
            }
        }
    }
  
    var exampleModal = document.getElementById('DocModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var doc_name = button.getAttribute('data-bs-name')
      var doc_id = button.getAttribute('data-bs-id')
  
      // Update the modal's content.
      var modalTitle = exampleModal.querySelector('.modal-title')
      var modal_body_doc_name = exampleModal.querySelector('#doctor_name')
      var modal_body_doc_id = exampleModal.querySelector('#id')
  
      modal_body_doc_name.value = doc_name
      modal_body_doc_id.value = doc_id
    })

    exampleModal = document.getElementById('StaffModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var doc_name = button.getAttribute('data-bs-name')
      var doc_id = button.getAttribute('data-bs-id')
  
      // Update the modal's content.
      var modalTitle = exampleModal.querySelector('.modal-title')
      var modal_body_doc_name = exampleModal.querySelector('#staff_name')
      var modal_body_doc_id = exampleModal.querySelector('#id')
  
      modal_body_doc_name.value = doc_name
      modal_body_doc_id.value = doc_id
    })
    
</script>
{% endblock %}