{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 equal-height">
        <!-- appointments -->
        <h3>
            Appointments
            <span class="float-end dropdown">
                <button class="btn btn-secondary btn dropdown-toggle" type="button" id="appointments" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <span class="" aria-hidden="true"></span> -->
                </button>
                <ul class="dropdown-menu" aria-labelledby="appointments">
                    <li><a class="dropdown-item" href="{{ url_for('book_appointment') }}"> Book </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('cancel_appointment') }}"> Cancel </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('cancel_appointment') }}"> View all </a></li>
                </ul>
            </span>
        </h3>
        <div class="table-responsive app">
            <table class="table table-light table-hover">
                <tr>
                    <th>Doctor</th>
                    <th>Date</th> 
                    <th>Time</th>
                    <th>Complaint</th>
                </tr>
                {% for appo in data['appointments'] %}
                    <tr>
                        <td>{{ appo['name'] }}</td>
                        <td>{{ appo['dat'] }}</td>
                        <td>{{ appo['start_time'] }}</td>
                        {% if appo['complaint'] %}
                            <td>{{ appo['complaint'] }}</td>
                        {% else %}
                            <td> None </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <!-- bills -->
        <h3>
            Bills
            <span class="float-end dropdown">
                <button class="btn btn-secondary btn dropdown-toggle" type="button" id="bills" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <span class="" aria-hidden="true"></span> -->
                </button>
                <ul class="dropdown-menu" aria-labelledby="bills">
                    <li><a class="dropdown-item" href="{{ url_for('book_appointment') }}"> Pay </a></li>
                    <li><a class="dropdown-item" href="{{ url_for('cancel_appointment') }}"> View all </a></li>
                </ul>
            </span>
        </h3>
        <div class="table-responsive app">
            <table class="table table-light table-hover">
                <tr>
                    <th>Purpose</th>
                    <th>Charges</th> 
                    <th>Discount</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                {% for bill in data['bills'] %}
                    <tr>
                        <td>{{ bill['purpose'] }}</td>
                        <td>{{ bill['net_charges'] }}</td>
                        <td>{{ bill['discount'] }}</td>
                        <td>{{ bill['status'] }}</td>
                        <td>{{ bill['dat'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <!-- tests -->
        <h3>
            Tests
            <span class="float-end dropdown">
                <button class="btn btn-secondary btn dropdown-toggle" type="button" id="tests" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <span class="" aria-hidden="true"></span> -->
                </button>
                <ul class="dropdown-menu" aria-labelledby="tests">
                    <li><a class="dropdown-item" href="{{ url_for('cancel_appointment') }}"> View all </a></li>
                </ul>
            </span>
        </h3>
        <div class="table-responsive app">
            <table class="table table-light table-hover">
                <tr>
                    <th>Name</th>
                    <th>Results</th> 
                    <th>Comments</th>
                    <th>Date</th>
                </tr>
                {% for test in data['tests'] %}
                    <tr>
                        <td>{{ test['test'] }}</td>
                        <td>{{ test['result_file'] }}</td>
                        <td>{{ test['comments'] }}</td>
                        <td>{{ test['dat'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <!-- history -->
        <h3>
            History
            <span class="float-end dropdown">
                <button class="btn btn-secondary btn dropdown-toggle" type="button" id="history" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <span class="" aria-hidden="true"></span> -->
                </button>
                <ul class="dropdown-menu" aria-labelledby="history">
                    <li><a class="dropdown-item" href="{{ url_for('cancel_appointment') }}"> View all </a></li>
                </ul>
            </span>
        </h3>
        <div class="table-responsive app">
            <table class="table table-light table-hover">
                <tr>
                    <th>Disease</th>
                    <th>Date</th> 
                </tr>
                {% for record in data['history'] %}
                    <tr>
                        <td>{{ record['name'] }}</td>
                        <td>{{ record['detected'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
