<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {
    var disease_id = $('#disease_id').data("disease");
    var symptoms = []
    var medicines = []
    var sym_chart = new CanvasJS.Chart("Symptoms", {
        animationEnabled: true,
        title: {
            text: "Symptoms"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            dataPoints: symptoms 
        }]
    });

    var med_chart = new CanvasJS.Chart("Medicines", {
        animationEnabled: true,
        title: {
            text: "Medicines"
        },
        data: [{
            type: "pie",
            startAngle: 240,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} {y}",
            dataPoints: medicines 
        }]
    });

    console.log("http://127.0.0.1:5000/analytics-disease-data/" + String(disease_id))
    $.getJSON("http://127.0.0.1:5000/analytics-disease-data/" + String(disease_id), function(data) {  
        console.log("hello I am receving analytics data")
        console.log("data")
        for(var i = 0; i < data.symptoms.length; i++){
        symptoms.push({y: data.symptoms[i].perc, label: data.symptoms[i].name});
        }
        for(var i = 0; i < data.medicines.length; i++){
        medicines.push({y: data.medicines[i].perc, label: data.medicines[i].name});
        }

        sym_chart.render();
        med_chart.render();
    });

}
</script>
</head>
<body>
<meta id="disease_id" data-disease="{{ disease_id }}">
<div id="Symptoms" style="height: 370px; width: 100%;"></div>
<div id="Medicines" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>